---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-llvm-*,-llvmlibc-*,-cppcoreguidelines-*,-hicpp-avoid-c-arrays,-modernize-use-trailing-return-type,-*-uppercase-literal-suffix,-readability-magic-numbers,-readability-isolate-declaration,-readability-qualified-auto,-misc-non-private-member-variables-in-classes,-altera-struct-pack-align,-hicpp-signed-bitwise,-*-named-parameter,-hicpp-no-array-decay,-hicpp-vararg'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
